<!DOCTYPE html>
<html ng-app="lizardApp">
  <head>
    <script src="website/static/bower/angular/angular.js"></script>
    <script src="website/static/controllers.js"></script>
  </head>
  <body>

    <div ng-controller="SourceFormController as source" ng-submit="submit()">
      <form method="post">
        <div><textarea name="content" rows="30" cols="60" ng-model="source.code" placeholder="Paste your source code here..."></textarea></div>
        <div><input type="submit" value="Analyse"></div>
      </form>
      {{progress}}
      <table>
        <tr ng-repeat="fun in result.function_list">
          <td>{{fun.name}}</td>
          <td>{{fun.nloc}}</td>
        </tr>
      </table>
    </div>

  </body>
</html>
